In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.geocoders import GoogleV3
from retrying import retry

In [2]:
# Read the CSV file
data = pd.read_csv('Restaurant_DB_File.csv')

In [9]:
# Create a geocoder instance with your Google Maps API key
geolocator = GoogleV3(api_key='My Key')

In [10]:
# Retry decorator with exponential backoff
@retry(wait_exponential_multiplier=1000, wait_exponential_max=10000, stop_max_attempt_number=3)
def geocode_address(address):
    return geolocator.geocode(address)

In [13]:
# Geocode addresses and store latitude and longitude in new columns
data['Latitude'] = data['Address'].apply(lambda x: geolocator.geocode(x).latitude if geolocator.geocode(x) else None)
data['Longitude'] = data['Address'].apply(lambda x: geolocator.geocode(x).longitude if geolocator.geocode(x) else None)

In [14]:
data.head()

,Restaurant_Name,Rating,Category,Address,Latitude,Longitude
0,Wendy's (10365 111th Street),4.7,Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",53.545878,-113.510914
1,McDonald's (Garneau),4.6,Burgers,"8415 109th Street, Edmonton, AB T6E",53.520781,-113.511508
2,Subway (230 10111 104 Ave),New,American,"10111 104 Ave Nw, Edmonton, AB T5J 4X1",53.545628,-113.494671
3,Burger King (13338-137 Avenue),4.3,American,"13338-137 Avenue, Edmonton, AB T5L 2A9",53.599964,-113.553132
4,7-Eleven (11528 - 107 Avenue),4.9,Bakery,"11528 - 107 Avenue, Edmonton, AB T5H",53.551599,-113.520793

In [40]:
import re

provinces = ['AB', 'BC', 'MB', 'NB', 'NL', 'NT', 'NS', 'NU', 'ON', 'PE', 'QC', 'SK', 'YT']

In [41]:
# Extract province from the address
def extract_province(address):
    for province in provinces:
        if re.search(r'\b{}\b'.format(province), address):
            return province
    return None

# Add 'Province' column to the DataFrame
data['Province'] = data['Address'].apply(extract_province)

In [42]:
data.head()

,Restaurant_Name,Rating,Category,Address,Latitude,Longitude,Province
0,Wendy's (10365 111th Street),4.7,Fast food,"10365 111th Street, Edmonton, AB T5K 2V3",53.545878,-113.510914,AB
1,McDonald's (Garneau),4.6,Burgers,"8415 109th Street, Edmonton, AB T6E",53.520781,-113.511508,AB
2,Subway (230 10111 104 Ave),New,American,"10111 104 Ave Nw, Edmonton, AB T5J 4X1",53.545628,-113.494671,AB
3,Burger King (13338-137 Avenue),4.3,American,"13338-137 Avenue, Edmonton, AB T5L 2A9",53.599964,-113.553132,AB
4,7-Eleven (11528 - 107 Avenue),4.9,Bakery,"11528 - 107 Avenue, Edmonton, AB T5H",53.551599,-113.520793,AB

In [47]:
data.dropna(subset=['Province'], inplace=True)

In [48]:
# Save the updated data to a new CSV file
data.to_csv('Restaurant_File_with_address.csv', index=False)