In [13]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [14]:
# Setting up the browser
browser = Browser('chrome')

In [15]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "halifax-ns/"
url = base_url + location
browser.visit(url)

In [16]:
html = browser.html
soup = soup(html, 'html.parser')

In [17]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 iy iz j0 j1')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                       Restaurant Name
0                    11584 Burger King
1          As You Like it Sandwich Bar
2                Laurent French Bakery
3                           McDonald's
4                            Starbucks
..                                 ...
75                        Boston Pizza
76  Wild Leek • Vegan Food & Juice Bar
77                          May Garden
78                Efes Turkish Cuisine
79                       Jessy's Pizza

[80 rows x 1 columns]

In [18]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j2 bg bh fc fb j3 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.6
1     4.5
2     4.9
3     4.6
4     4.5
..    ...
58    4.4
59    4.5
60    4.8
61    4.5
62    4.6

[63 rows x 1 columns]

In [19]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                               Address
0    Go-to Burger spot and top 10 Halifax delivery ...
1                   6049 Young Street, Halifax, NS B3K
2       1791 Barrington Street, Halifax, NAMER B3J 3Y8
3    Go-to Dessert spot, popular for Parisien Bread...
4                 2063 Gottingen St, Halifax, NS B3K 3
..                                                 ...
131  Beloved Chinese spot, appreciated for offering...
132             136 Portland Street, Dartmouth, NS B2Y
133  Affordable delivery spot, appreciated for offe...
134       5986 Spring Garden Road, Halifax, NS B3H 1Y7
135          6041 North Street, Halifax, NAMER B3K 1P1

[136 rows x 1 columns]

In [20]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('•')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0               American
1                 Salads
2   Breakfast and brunch
3                Burgers
4                 Bakery
..                   ...
75               Italian
76            Vegetarian
77               Chinese
78              European
79                 Pizza

[80 rows x 1 columns]

In [21]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,11584 Burger King,4.6,American,Go-to Burger spot and top 10 Halifax delivery ...
1,As You Like it Sandwich Bar,4.5,Salads,"6049 Young Street, Halifax, NS B3K"
2,Laurent French Bakery,4.9,Breakfast and brunch,"1791 Barrington Street, Halifax, NAMER B3J 3Y8"
3,McDonald's,4.6,Burgers,"Go-to Dessert spot, popular for Parisien Bread..."
4,Starbucks,4.5,Bakery,"2063 Gottingen St, Halifax, NS B3K 3"

In [22]:
# Export the joined DataFrame to an Excel file
result.to_excel('Halifax-NS.xlsx', index=False)

In [12]:
browser.quit()