In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "winnipeg-mb"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('h3', class_ = 'be by bg db b1 br dd c3 j4 j5 j6 j7')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                              Restaurant Name
0                                    7-Eleven
1                                      Subway
2                                         A&W
3                                  McDonald's
4                                     Wendy's
..                                        ...
75                                  Asia city
76                                    Freshii
77  Golden Elephant Vietnamese & Thai Cuisine
78                                    Chosabi
79                                    Quiznos

[80 rows x 1 columns]

In [6]:
# Rating information 


res_Rating = soup.find_all('div', class_ = "be j8 bg bh fc fb j9 ef i7 al bm cb")

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.6
1     4.5
2     4.5
3     4.3
4     4.6
5     4.6
6     4.1
7     4.4
8     4.3
9     4.0
10    4.7
11    4.6
12    3.8
13    4.6
14    4.7
15    4.1
16    4.4
17    4.4
18    3.4
19    4.6
20    4.5
21    3.5
22    4.7
23    3.8
24    4.6
25    4.2
26    4.9
27    4.7
28    4.5
29    4.9
30    4.8
31    4.6
32    4.3
33    4.4
34    4.8
35    4.9
36    4.7
37    4.8
38    5.0
39    4.1
40    4.7
41    4.3
42    4.7
43    4.4
44    4.5
45    4.8
46    4.4
47    4.4
48    4.1
49    3.7
50    4.6
51    4.5
52    4.5
53    4.6
54    5.0
55    4.9
56    4.9
57    4.8
58    4.8
59    4.3

In [7]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd jc c3 br ja")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                               Address
0    Affordable delivery spot, appreciated for offe...
1        781 Corydon & Arbuthnot, Winnipeg, MB R3M 0W5
2    Top 5 Sandwich spot, popular for Footlong Swee...
3                   445 River Ave, 2, Winnipeg, MB R3L
4    Budget-friendly delivery spot, popular for Hot...
..                                                 ...
124           635 Pembina Hwy, Winnipeg, NAMER R3M 2L4
125  Budget-friendly delivery spot, popular for Jap...
126               1194 Taylor Avenue, Winnipeg, MB R3M
127  Budget-friendly delivery spot, popular for Chi...
128     3647 Portage Ave, Unit 4, Winnipeg, MB R3K 2G6

[129 rows x 1 columns]

In [8]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br ja")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

        Category
0          Wings
1       American
2      Fast food
3        Burgers
4      Fast food
..           ...
75    Vietnamese
76         Bowls
77         Asian
78  Comfort food
79      Sandwich

[80 rows x 1 columns]

In [9]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,7-Eleven,4.6,Wings,"Affordable delivery spot, appreciated for offe..."
1,Subway,4.5,American,"781 Corydon & Arbuthnot, Winnipeg, MB R3M 0W5"
2,A&W,4.5,Fast food,"Top 5 Sandwich spot, popular for Footlong Swee..."
3,McDonald's,4.3,Burgers,"445 River Ave, 2, Winnipeg, MB R3L"
4,Wendy's,4.6,Fast food,"Budget-friendly delivery spot, popular for Hot..."

In [10]:
# Export the joined DataFrame to an Excel file
result.to_excel('winnipeg-mb.xlsx', index=False)

In [11]:
browser.quit()