In [13]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "halifax-ns/"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [6]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 j4 j5 j6 j7')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                       Restaurant Name
0                              Wendy's
1                           McDonald's
2                               Subway
3                          Burger King
4                             7-Eleven
..                                 ...
75  New Gurkha Indian Restaurant & Bar
76                 Kathmandu rasoi Ltd
77           Soban Sushi & Asian Taste
78           Royal Sweets & Restaurant
79                          Raja Foods

[80 rows x 1 columns]

In [7]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j8 bg bh fc fb j9 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.7
1     4.6
2     4.3
3     4.9
4     4.6
..    ...
70    4.4
71    4.7
72    4.8
73    4.2
74    4.4

[75 rows x 1 columns]

In [8]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd jc c3 br ja")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                           Address
0         10365 111th Street, Edmonton, AB T5K 2V3
1              8415 109th Street, Edmonton, AB T6E
2           10111 104 Ave Nw, Edmonton, AB T5J 4X1
3           13338-137 Avenue, Edmonton, AB T5L 2A9
4             11528 - 107 Avenue, Edmonton, AB T5H
..                                             ...
76          4005 Gateway Blvd Nw, Edmonton, AB T6J
77          17759 98a Ave Nw, Edmonton, AB T5T 5W8
78  7450 82 Avenue Northwest, Edmonton, AB T6B 0G2
79      5065 22 Avenue Southwest, Edmonton, AB T6X
80                5173 55 Ave Nw, Edmonton, AB T6B

[81 rows x 1 columns]

In [9]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br ja")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

     Category
0   Fast food
1     Burgers
2    American
3    American
4      Bakery
..        ...
75     Indian
76     Indian
77      Sushi
78     Indian
79     Indian

[80 rows x 1 columns]

In [10]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

  Restaurant Name Rating   Category                                   Address
0         Wendy's    4.7  Fast food  10365 111th Street, Edmonton, AB T5K 2V3
1      McDonald's    4.6    Burgers       8415 109th Street, Edmonton, AB T6E
2          Subway    4.3   American    10111 104 Ave Nw, Edmonton, AB T5J 4X1
3     Burger King    4.9   American    13338-137 Avenue, Edmonton, AB T5L 2A9
4        7-Eleven    4.6     Bakery      11528 - 107 Avenue, Edmonton, AB T5H

In [11]:
# Export the joined DataFrame to an Excel file
result.to_excel('Edmonton-AB.xlsx', index=False)

In [12]:
browser.quit()