In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [5]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "london-on"
url = base_url + location
browser.visit(url)

In [6]:
html = browser.html
soup = soup(html, 'html.parser')

In [8]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 j4 j5 j6 j7')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

               Restaurant Name
0                     7-Eleven
1                    Starbucks
2                   McDonald's
3            Popeyes Louisiana
4    London City Pizza & Wings
..                         ...
75                  Odd Burger
76      Piping Kettle Soup Co.
77                Burrito Boyz
78  Piping Kettle Soup Company
79                Crabby Joe's

[80 rows x 1 columns]

In [10]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j8 bg bh fc fb j9 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.6
1     4.7
2     4.6
3     4.5
4     4.6
..    ...
64    4.6
65    4.8
66    4.7
67    4.5
68    4.5

[69 rows x 1 columns]

In [11]:
# Address

res_Address = soup.find_all('span', class_ = 'be bf bz db h1 dd jc c3 br ja')

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0            1181 Western Rd @ Sarnia, London, ON N6G
1                 601 Richmond Street, London, ON N6A
2           61 Oxford Street West, LONDON, ON N6H 5S8
3                   181 Dundas St, London, ON N6A 1G4
4                   1920 Dundas Street London, On N5V
..                                                ...
75  645 Commissioners Road East, London, NAMER N6C...
76                      1314 Huron St, London, On N5Y
77             206 Central Avenue, London, ON N6A 1M7
78             631 Commissioners Rd E, London, ON N6C
79              276 Dundas Street, London, ON N6B 1T6

[80 rows x 1 columns]

In [12]:
# Category

res_category = soup.find_all('span', class_ = 'be bf bz db h1 dd c5 c3 br ja')

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

      Category
0        Wings
1       Bakery
2      Burgers
3     American
4        Pizza
..         ...
75  Vegetarian
76  Sandwiches
77     Mexican
78    Sandwich
79     Burgers

[80 rows x 1 columns]

In [13]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,7-Eleven,4.6,Wings,"1181 Western Rd @ Sarnia, London, ON N6G"
1,Starbucks,4.7,Bakery,"601 Richmond Street, London, ON N6A"
2,McDonald's,4.6,Burgers,"61 Oxford Street West, LONDON, ON N6H 5S8"
3,Popeyes Louisiana,4.5,American,"181 Dundas St, London, ON N6A 1G4"
4,London City Pizza & Wings,4.6,Pizza,"1920 Dundas Street London, On N5V"

In [16]:
# Export the joined DataFrame to an Excel file
result.to_excel('london-on.xlsx', index=False)

In [15]:
browser.quit()