In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "kingston-on/"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 iy iz j0 j1')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                    Restaurant Name
0                                Fresh Healthy Cafe
1                                       Food Basics
2                                        McDonald's
3                                   M&M Food Market
4   For Thirst and Hunger Beverage and Food Company
..                                              ...
75                                         Presotea
76                             Torino pizza & pasta
77                                     Swiss Chalet
78                           Hero Certified Burgers
79                                        Montana's

[80 rows x 1 columns]

In [6]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j2 bg bh fc fb j3 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.6
1     4.2
2     4.6
3     4.6
4     4.8
..    ...
62    4.8
63    4.6
64    4.7
65    4.4
66    4.6

[67 rows x 1 columns]

In [7]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                               Address
0          33 Brock St, Store, Kingston, NAMER K7L 1R7
1               33 Barrack St, Kingston, NAMER K7K 1E7
2    Popular here: 6 Chicken Mcnuggets, Cheeseburge...
3                312 Princess St, Kingston, ON K7L 1B6
4                277 Bath Road, Kingston, NAMER K7M2X6
..                                                 ...
127  Popular here: Cheese Perogies, Chalet Chicken ...
128                    85 Dalton Ave, Kingston, ON K7K
129             1046 Princess St, Kingston, ON K7L 1H2
130  Popular here: Oven-baked Antojitos, Chicken Ta...
131                 630 Gardiners Rd, Kingston, ON K7M

[132 rows x 1 columns]

In [8]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

               Category
0               Healthy
1   Everyday Essentials
2              American
3               Grocery
4              Canadian
..                  ...
75           Bubble tea
76                Pizza
77                Diner
78             American
79                Steak

[80 rows x 1 columns]

In [9]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Fresh Healthy Cafe,4.6,Healthy,"33 Brock St, Store, Kingston, NAMER K7L 1R7"
1,Food Basics,4.2,Everyday Essentials,"33 Barrack St, Kingston, NAMER K7K 1E7"
2,McDonald's,4.6,American,"Popular here: 6 Chicken Mcnuggets, Cheeseburge..."
3,M&M Food Market,4.6,Grocery,"312 Princess St, Kingston, ON K7L 1B6"
4,For Thirst and Hunger Beverage and Food Company,4.8,Canadian,"277 Bath Road, Kingston, NAMER K7M2X6"

In [10]:
# Export the joined DataFrame to an Excel file
result.to_excel('Kingston-ON.xlsx', index=False)

In [11]:
browser.quit()