In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "ottawa-on"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('h3', class_ = "be by bg db b1 br dd c3 iy iz j0 j1")
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                Restaurant Name
0                   Pizza Nerds
1               Umbrella Burger
2   GOGIYA KOREAN FRIED CHICKEN
3                    McDonald's
4                 Lil Z’s Pizza
..                          ...
75                        Lokma
76           Palermo's Pizzeria
77        Zaky Grill and Broast
78       Wing Hing Chinese Food
79               Little Caesars

[80 rows x 1 columns]

In [6]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j2 bg bh fc fb j3 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.8
1     4.9
2     4.8
3     4.5
4     4.7
..    ...
75    4.8
76    4.6
77    4.4
78    4.7
79    4.3

[80 rows x 1 columns]

In [7]:
# Address

res_Address = soup.find_all('span', class_ = 'be bf bz db h1 dd j6 c3 br j4')

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                       Address
0   478 Bank St Ottawa Ontario K2p 1z3, ON K2P
1           184 Preston St, Ottawa, ON K1R 7P9
2            155 Bank St., Ottawa, Ontario K1P
3                 252 Elgin St, Ottawa, ON K2P
4       45 Clarence Street, Ottawa, ON K1N 5P9
..                                         ...
75            1611 Bank Street, Ottawa, ON K1V
76         25 Tapiola Crescent, Ottawa, ON K1T
77    1385 Baseline Rd, #4, Ottawa, ON K1A 0C5
78           2 Woodfield Drive, Nepean, ON K2G
79           355 Montreal Road, Vanier, ON K1L

[80 rows x 1 columns]

In [8]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('•')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

     Category
0       Pizza
1    American
2      Korean
3   Fast food
4       Pizza
..        ...
75   Desserts
76      Pizza
77      Halal
78      Rolls
79      Pizza

[80 rows x 1 columns]

In [9]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Pizza Nerds,4.8,Pizza,"478 Bank St Ottawa Ontario K2p 1z3, ON K2P"
1,Umbrella Burger,4.9,American,"184 Preston St, Ottawa, ON K1R 7P9"
2,GOGIYA KOREAN FRIED CHICKEN,4.8,Korean,"155 Bank St., Ottawa, Ontario K1P"
3,McDonald's,4.5,Fast food,"252 Elgin St, Ottawa, ON K2P"
4,Lil Z’s Pizza,4.7,Pizza,"45 Clarence Street, Ottawa, ON K1N 5P9"

In [10]:
# Export the joined DataFrame to an Excel file
result.to_excel('ottawa-on.xlsx', index=False)

In [18]:
browser.quit()