In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "windsor-on"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('h3', class_ = "be by bg db b1 br dd c3 iy iz j0 j1")
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                  Restaurant Name
0              Burger King #13322
1            MJ's pizza and Wings
2                     Pizza Pizza
3                 Chicken Chicken
4                      McDonald's
..                            ...
75                     Salt Sushi
76            Franco's Restaurant
77           Bobby Burrito & Taco
78  Hyderabad's Prince Restaurant
79                   Boston Pizza

[80 rows x 1 columns]

In [6]:
# Rating information 


res_Rating = soup.find_all('div', class_ = "be j2 bg bh fc fb j3 ef i7 al bm cb")

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.3
1     4.4
2     4.0
3     4.3
4     4.5
..    ...
66    4.5
67    4.9
68    4.4
69    4.1
70    3.9

[71 rows x 1 columns]

In [7]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                               Address
0    Top 10 Windsor delivery spot, appreciated for ...
1                   300 Tecumseh Rd E, Windsor, ON N8X
2    Top 5 Pizza spot, appreciated for offering fai...
3               904 Wyandotte St, West Windsor, ON N9A
4    Top items include Small Grilled Veggie And Goa...
..                                                 ...
125  Appreciated for offering excellent quality and...
126       3580 Tecumseh Road East, Windsor, ON N8W 0A5
127           2156 Wyandotte St W, Windsor, ON N9B 1J9
128  Top items include Thai Bites, The Meateor, Pep...
129         4450 Walker Road , Unit D, Windsor, ON N8W

[130 rows x 1 columns]

In [8]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

    Category
0   American
1      Pizza
2      Pizza
3      Wings
4   American
..       ...
75     Sushi
76     Pizza
77   Mexican
78    Indian
79   Italian

[80 rows x 1 columns]

In [9]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Burger King #13322,4.3,American,"Top 10 Windsor delivery spot, appreciated for ..."
1,MJ's pizza and Wings,4.4,Pizza,"300 Tecumseh Rd E, Windsor, ON N8X"
2,Pizza Pizza,4.0,Pizza,"Top 5 Pizza spot, appreciated for offering fai..."
3,Chicken Chicken,4.3,Wings,"904 Wyandotte St, West Windsor, ON N9A"
4,McDonald's,4.5,American,Top items include Small Grilled Veggie And Goa...

In [10]:
# Export the joined DataFrame to an Excel file
result.to_excel('windsor-on.xlsx', index=False)

In [11]:
browser.quit()