In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "edmonton-ab/"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [33]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 iy iz j0 j1')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                    Restaurant Name
0               Seoul Fried Chicken
1           Cosmic Pizza and Donair
2       Yang's Braised Chicken Rice
3                  Freshslice Pizza
4                Ayco Bakery & Cafe
..                              ...
75         Vegas Donair and Poutine
76                      Remedy Cafe
77          Jasper Liquor Merchants
78             Marble Slab Creamery
79  New Asian Village Sherwood Park

[80 rows x 1 columns]

In [36]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j2 bg bh fc fb j3 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.8
1     4.7
2     4.9
3     4.5
4     4.5
..    ...
73    4.7
74    4.8
75    4.8
76    4.8
77    4.6

[78 rows x 1 columns]

In [53]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0               10145 104 St Nw, Edmonton, AB T5J 0Z9
1                 10412 102 Ave, Edmonton, AB T5J 0B4
2               10167 109 St Nw, Edmonton, AB T5J 3M5
3               10071 109 St Nw, Edmonton, AB T5J 0J7
4               10551 Jasper Avenue, Edmonton, AB T5J
..                                                ...
76               8525 112 St Nw, Edmonton, AB T6G 2L7
77              10279 Jasper Avenue, Edmonton, AB T5J
78              11607 Jasper Avenue, Edmonton, AB T5K
79           10156 - 109 Street, Edmonton, AB T5J 1M7
80  200 - 10 Main Boulevard, Sherwood Park, AB T6H...

[81 rows x 1 columns]

In [50]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                     Category
0                      Korean
1                       Pizza
2                     Chinese
3                       Pizza
4                    American
..                        ...
75                  Fast food
76                     Indian
77                    Alcohol
78  Ice Cream & Frozen Yogurt
79                     Indian

[80 rows x 1 columns]

In [54]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Seoul Fried Chicken,4.8,Korean,"10145 104 St Nw, Edmonton, AB T5J 0Z9"
1,Cosmic Pizza and Donair,4.7,Pizza,"10412 102 Ave, Edmonton, AB T5J 0B4"
2,Yang's Braised Chicken Rice,4.9,Chinese,"10167 109 St Nw, Edmonton, AB T5J 3M5"
3,Freshslice Pizza,4.5,Pizza,"10071 109 St Nw, Edmonton, AB T5J 0J7"
4,Ayco Bakery & Cafe,4.5,American,"10551 Jasper Avenue, Edmonton, AB T5J"

In [57]:
# Export the joined DataFrame to an Excel file
result.to_excel('edmonton-ab.xlsx', index=False)

In [58]:
browser.quit()