In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "hamilton-on/"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('h3', class_='be by bg db b1 br dd c3 j4 j5 j6 j7')
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                    Restaurant Name
0                    Sunrise Market
1                    MIX+ Food Mart
2                Big Bear Food Mart
3                         Starbucks
4                        McDonald's
..                              ...
74                    Dim Sum House
75                 The Burnt Tongue
76                    Fishing Sushi
77  South Garden Chinese Restaurant
78         Popeyes Louisana Kitchen

[79 rows x 1 columns]

In [ ]:
# Rating information 


res_Rating = soup.find_all('div', class_ = 'be j2 bg bh fc fb j3 ef i7 al bm cb')

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

In [ ]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

In [ ]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

In [ ]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

In [ ]:
# Export the joined DataFrame to an Excel file
result.to_excel('Halifax-NS.xlsx', index=False)

In [ ]:
browser.quit()