In [13]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [14]:
# Setting up the browser
browser = Browser('chrome')

In [15]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "montreal-qc"
url = base_url + location
browser.visit(url)

In [5]:
html = browser.html
soup = soup(html, 'html.parser')

In [6]:
# Restaurant name

res_name = soup.find_all('h3', class_ = "be by bg db b1 br dd c3 iy iz j0 j1")
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                Restaurant Name
0                   Burger King
1                   Pizza Pizza
2   Poulet Bronzé Fried Chicken
3                   Yumi Burger
4        Caribbean Food Factory
..                          ...
75              Duc de Lorraine
76                     Frisquet
77                  Cafe Milano
78                   Jugo Juice
79             Kosher Pizza Bar

[80 rows x 1 columns]

In [7]:
# Rating information 


res_Rating = soup.find_all('div', class_ = "be j2 bg bh fc fb j3 ef i7 al bm cb")

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.3
1     4.2
2     4.5
3     4.6
4     4.5
..    ...
71    4.5
72    4.8
73    4.7
74    4.6
75    4.4

[76 rows x 1 columns]

In [8]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd j6 c3 br j4")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0           1605 Saint-Denis St, Montreal, QC H2X 3K3
1             3714 St. Laurent Blvd, Montreal, QC H2X
2           1622 Avenue Lincoln, Montreal, Quebec H3H
3               1448 Rue Mackay, Montréal, QC H3G 2H6
4           5311 Maisonneuve Blvd W, Montreal, QC H4A
..                                                ...
79            970 Rue Rachel Est, Montréal, NAMER H2J
80    5188 Rue Jarry E, Saint-Léonard, Quebec H1R 1Y4
81  162 Boulevard Des Promenades #F013a, St-Bruno,...
82  Go-to Pizza spot and top 10 Cote-Saint-Luc del...
83        5800 Boul Cavendish, Côte Saint-Luc, QC H4W

[84 rows x 1 columns]

In [9]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br j4")

categories = []

for i in res_category:
    category = i.text.split('•')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

                Category
0               American
1                  Pizza
2                  Halal
3                Burgers
4                 Bakery
..                   ...
75  Breakfast and brunch
76              Desserts
77              Sandwich
78     Juice & Smoothies
79                 Pizza

[80 rows x 1 columns]

In [10]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Burger King,4.3,American,"1605 Saint-Denis St, Montreal, QC H2X 3K3"
1,Pizza Pizza,4.2,Pizza,"3714 St. Laurent Blvd, Montreal, QC H2X"
2,Poulet Bronzé Fried Chicken,4.5,Halal,"1622 Avenue Lincoln, Montreal, Quebec H3H"
3,Yumi Burger,4.6,Burgers,"1448 Rue Mackay, Montréal, QC H3G 2H6"
4,Caribbean Food Factory,4.5,Bakery,"5311 Maisonneuve Blvd W, Montreal, QC H4A"

In [11]:
# Export the joined DataFrame to an Excel file
result.to_excel('montreal-qc.xlsx', index=False)

In [12]:
browser.quit()