In [90]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [91]:
# Setting up the browser
browser = Browser('chrome')

In [92]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "toronto-on"
url = base_url + location
browser.visit(url)

In [93]:
html = browser.html
soup = soup(html, 'html.parser')

In [94]:
# Restaurant name

res_name = soup.find_all('div', class_='br al b9 bm c3 dd j3')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                    Restaurant Name
0                  Food Basics (830 Lansdowne Ave.)
1                                       JC Foodlane
2                         Cibo Wine Bar (King West)
3   Fast Fresh Foods (Eaton Centre Mall Food Court)
4                               Mavericks Burger Co
..                                              ...
74                     Pizzeria Libretto (Junction)
75                         Choco Churros (Yonge St)
76                Krispy Kreme (McCaul St & Elm St)
77           Second Cup ft. Pinkberry (King & John)
78                                  Craque de Creme

[79 rows x 1 columns]

In [96]:
# Rating information 


res_Rating = soup.find_all('div', class_="br al b9 bm c3 dd j3")

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.5
1     4.8
2     4.5
3     5.0
4     4.8
..    ...
74    4.7
75    4.4
76    4.9
77    New
78    4.8

[79 rows x 1 columns]

In [99]:
# Address

res_Address = soup.find_all('div', class_='fz jb al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0          830 Lansdowne Ave., Toronto, NAMER M6H 0C3
1   270 Wellington St W, West End Of The Building,...
2                      522 King St W, Toronto, ON M5V
3                   220 Yonge Street, Toronto, ON M5B
4            15 Merchants' Wharf, Toronto, ON M5A 0N8
..                                                ...
74       3011 Dundas Street West, Toronto, ON M6P 1Z4
75                  335 Yonge St, Toronto, ON M5B 1R7
76                 164 Mccaul St, Toronto, ON M5T 1W4
77                289 King St W, Toronto, Ontario M5V
78              1360 Bathurst St, Toronto, ON M5R 3H7

[79 rows x 1 columns]

In [102]:
# Category

res_category = soup.find_all('div', class_='al ii br j2 c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

               Category
0   Everyday Essentials
1           Convenience
2               Italian
3               Healthy
4               Burgers
..                  ...
74                Pizza
75             Desserts
76             Desserts
77         Coffee & tea
78             Desserts

[79 rows x 1 columns]

In [103]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Food Basics (830 Lansdowne Ave.),4.5,Everyday Essentials,"830 Lansdowne Ave., Toronto, NAMER M6H 0C3"
1,JC Foodlane,4.8,Convenience,"270 Wellington St W, West End Of The Building,..."
2,Cibo Wine Bar (King West),4.5,Italian,"522 King St W, Toronto, ON M5V"
3,Fast Fresh Foods (Eaton Centre Mall Food Court),5.0,Healthy,"220 Yonge Street, Toronto, ON M5B"
4,Mavericks Burger Co,4.8,Burgers,"15 Merchants' Wharf, Toronto, ON M5A 0N8"

In [104]:
# Export the joined DataFrame to an Excel file
result.to_excel('toronto-ON.xlsx', index=False)

In [105]:
browser.quit()