In [15]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [16]:
# Setting up the browser
browser = Browser('chrome')

In [17]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "niagara-falls-on"
url = base_url + location
browser.visit(url)

In [6]:
html = browser.html
soup = soup(html, 'html.parser')

In [7]:
# Restaurant name

res_name = soup.find_all('h3', class_ = "be by bg db b1 br dd c3 j4 j5 j6 j7")
restaurants = []

for i in res_name:
    restaurant = i.text.split('(')[0].strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

              Restaurant Name
0                    7-Eleven
1                  McDonald's
2                         A&W
3                 Burger King
4           Papa John's Pizza
..                        ...
75              Fresh Burrito
76         Smoke's Poutinerie
77          Volcanos Pizzeria
78     Gong Cha Niagara Falls
79  Shooks A Taste of Jamaica

[80 rows x 1 columns]

In [8]:
# Rating information 


res_Rating = soup.find_all('div', class_ = "be j8 bg bh fc fb j9 ef i7 al bm cb")

ratings = []

for i in res_Rating:
    rating = i.text
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.2
1     4.5
2     4.3
3     4.5
4     4.3
..    ...
57    4.2
58    4.4
59    4.6
60    4.9
61    4.5

[62 rows x 1 columns]

In [10]:
# Address

res_Address = soup.find_all('span', class_ = "be bf bz db h1 dd jc c3 br ja")

addresses = []

for i in res_Address:
    if i.text:
        address = i.text
        addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                               Address
0    Top 10 Welland delivery spot, appreciated for ...
1          6 Crowland Ave @ East Main, Welland, ON L3B
2    Go-to Burger spot and top 10 Welland delivery ...
3                631 Niagara St N, Welland, ON L3C 1L9
4    Top 10 Welland delivery spot and go-to for Bur...
..                                                 ...
127              10 Summer St, St. Catharine'S, ON L2R
128                             1409 Pelham St, ON L0S
129  5444 Victoria Avenue, Niagara Falls, NAMER L2G...
130  Top 5 Caribbean spot, appreciated for offering...
131          5983 Clark Ave, Niagara Falls, ON L2G 3W3

[132 rows x 1 columns]

In [11]:
# Category

res_category = soup.find_all('span', class_ = "be bf bz db h1 dd c5 c3 br ja")

categories = []

for i in res_category:
    category = i.text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

     Category
0       Wings
1     Burgers
2   Fast food
3    American
4       Pizza
..        ...
75    Mexican
76  Fast food
77      Pizza
78      Asian
79  Caribbean

[80 rows x 1 columns]

In [12]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,7-Eleven,4.2,Wings,"Top 10 Welland delivery spot, appreciated for ..."
1,McDonald's,4.5,Burgers,"6 Crowland Ave @ East Main, Welland, ON L3B"
2,A&W,4.3,Fast food,Go-to Burger spot and top 10 Welland delivery ...
3,Burger King,4.5,American,"631 Niagara St N, Welland, ON L3C 1L9"
4,Papa John's Pizza,4.3,Pizza,Top 10 Welland delivery spot and go-to for Bur...

In [13]:
# Export the joined DataFrame to an Excel file
result.to_excel('niagara_falls_on.xlsx', index=False)

In [18]:
browser.quit()