In [1]:
# Import dependencies/libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
# Setting up the browser
browser = Browser('chrome')

In [3]:
# Visiting the website
base_url = "https://www.ubereats.com/ca/city/"
location = "thunder-bay-on"
url = base_url + location
browser.visit(url)

In [4]:
html = browser.html
soup = soup(html, 'html.parser')

In [5]:
# Restaurant name

res_name = soup.find_all('div', class_='br al b9 bm c3 dd ix')
restaurants = []

for i in res_name:
    restaurant = i.find('h3').text.strip()
    restaurants.append(restaurant)

df = pd.DataFrame(restaurants, columns=['Restaurant Name'])
print(df)

                                Restaurant Name
0   Burger King #2374 (2840 Arthur Street East)
1                 Pizza Pizza (425 Edward St N)
2            Chicken Chicken (425 Edward St. N)
3                        McDonald's (Arthur St)
4                    Boston Pizza (Thunder Bay)
..                                          ...
75                         Home Sweet Home Cafe
76                                       Zackss
77                             Seler Restaurant
78                   Subway (1072 Oliver Rd, 1)
79                                   Wild Thyme

[80 rows x 1 columns]

In [8]:
# Rating information 

res_Rating = soup.find_all('div', class_="br al b9 bm c3 dd ix")

ratings = []

for i in res_Rating:
    rating = i.find('div').text.strip()
    ratings.append(rating)

df2 = pd.DataFrame(ratings, columns=['Rating'])
print(df2)

   Rating
0     4.4
1     4.5
2     4.0
3     4.6
4     4.1
..    ...
75    4.9
76    New
77    New
78    New
79    New

[80 rows x 1 columns]

In [9]:
# Address

res_Address = soup.find_all('div', class_='fz j5 al ii')
addresses = []

for i in res_Address:
    if i.text:
        spans = i.find_all('span')
        if len(spans) > 1:
            address = spans[1].text.strip()
            addresses.append(address)

df3 = pd.DataFrame(addresses, columns=['Address'])
print(df3)

                                              Address
0               2840 Arthur St E, Thunder Bay, On P7E
1                425 Edward St N, Thunder Bay, On P7C
2                425 Edward St N, Thunder Bay, On P7C
3             201 Arthur St., Thunder Bay, ON P7E 5P7
4           217 W. Arthur Street, Thunder Bay, ON P7E
..                                                ...
75        516 Victoria Ave E, Thunder Bay, ON P7C 1A7
76     215 Cumming St Thunder Bay, On P7c 1n8 Canada,
77      555 Dunlop Street, Thunder Bay, NAMER P7B 6S1
78          1072 Oliver Rd, 1, Thunder Bay, ON P7B7A4
79  55 Cumberland Street South, Thunder Bay, ON P7...

[80 rows x 1 columns]

In [13]:
# Category

res_category = soup.find_all('div', class_='al ii br iw c3')
categories = []

for i in res_category:
    span_text = i.find('span').text.strip()
    category = span_text.split('â€¢')[0].strip()
    categories.append(category)

df4 = pd.DataFrame(categories, columns=['Category'])
print(df4)

          Category
0         American
1   Chicken Strips
2            Wings
3          Burgers
4          Italian
..             ...
75         Burgers
76           Pasta
77             Pub
78        American
79    Coffee & tea

[80 rows x 1 columns]

In [14]:
# Join the DataFrames in the desired order
result = pd.concat([df, df2, df4, df3], axis=1)

result.head()

,Restaurant Name,Rating,Category,Address
0,Burger King #2374 (2840 Arthur Street East),4.4,American,"2840 Arthur St E, Thunder Bay, On P7E"
1,Pizza Pizza (425 Edward St N),4.5,Chicken Strips,"425 Edward St N, Thunder Bay, On P7C"
2,Chicken Chicken (425 Edward St. N),4.0,Wings,"425 Edward St N, Thunder Bay, On P7C"
3,McDonald's (Arthur St),4.6,Burgers,"201 Arthur St., Thunder Bay, ON P7E 5P7"
4,Boston Pizza (Thunder Bay),4.1,Italian,"217 W. Arthur Street, Thunder Bay, ON P7E"

In [16]:
# Export the joined DataFrame to an Excel file
result.to_excel('thunder-bay-on.xlsx', index=False)

In [17]:
browser.quit()